<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <meta name = "viewport" content = "width=device-width, inital-scale=1.0" />
        <title>30 Days of Python - Cars DB Update</title> 
    </head>
    <body>
        <form action = "/cars/update" method = "POST">
            <label for="id">Car ID:</label><br>
            <input list="id" name="id">
            <datalist id="id">
                {% for id in ids %}
                <option value={{id}}>
                {% endfor %}
            </datalist><br>
            <label for="name">Car name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="make">Car make:</label><br>
            <input type="text" id="make" name="make"><br>
            <label for="wheels">Number of wheels:</label><br>
            <input type="text" id="wheels" name="wheels"><br>
            <label for="door">Number of doors:</label><br>
            <input type="text" id="door" name="door"><br>
            <input type = "submit" class = "btn" value = "Update Car" />
        </form>
    </body>
</html>